%base-typography {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $unitless-line-height;	
	-webkit-font-smoothing: antialiased;
}

%base-header-typography {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}
