%base-typography {
	@include fontSize(18px);
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $unitless-line-height;	
	-webkit-font-smoothing: antialiased;
}

%base-header-typography {
	@include clearfix;
	font-family: $header-font-family;
	line-height: $header-line-height;
	margin: 0;
	margin-bottom: 20px;
	text-rendering: optimizeLegibility; // Fix the character spacing for headings
	clear: both;
	float: none;
	text-transform: uppercase;

	a, a:visited {
		text-decoration: none;
	}
}

%strong {
	@include fontSize(20px);
	color: #000;
	font-family: $title;
}
