/**
 * Class for <html> indicating ie7 or ie8.
 *
 * Comes from Flexnav for backwards compatibility.
 *
 * @group flexnav
 * @todo refacor using extends.
 */
.oldie {
	body.one-page {
		padding-top: 70px;
	}

	.flexnav {
		overflow: visible;
		&.one-page {
			top: 0;
			right: auto;
			max-width: 1080px;
		}
		li {
			position: relative;
			list-style: none;
			float: left;
			display: block;
			background-color: $flexnav_color_top_level;
			width: 20%;
			min-height: 50px;
			overflow: visible;

			a {
				border-left: 1px solid #acaca1;
				border-bottom: none;
				overflow: visible;
			}
		}

		li:hover > ul {
			display: block;
			width: 100%;
			overflow: visible;
			li {
				width: 100%;
				float: none;
			}
		}

		li > ul {
			background:#acaca1;
			position: absolute;
			top: auto;
			left: 0;
			display: none;
			z-index: 1;
			overflow: visible;
		}

		li ul li ul {
			top: 0;
		}

		li ul li a {
			border-bottom: none;
		}

		li ul.open {
			display: block;
			width: 100%;
			overflow: visible;

			li {
				width: 100%;
			}

			ul.open {
				margin-left: 100%;
				top: 0;
  				display: block;
				width: 100%;
				overflow: visible;
			}
		}

		ul li:hover ul {
			margin-left: 100%;
			top: 0;
		}
	}

	.menu-button {
		display: none;
	}

	&.ie7 .flexnav li {
		width: 19.9%;
	}
}

