%list {
  margin: 0;
  padding: 0;
  list-style-type: none;	
}

/* @TODO
 *
 * Each of the below rule blocks need to be broken up into individual files.
 *    - place files in same directory as this file
 *    - tab spacing
 *    - empty line at end of file
 *    - Does not apply to rule blocks above this TODO block (if any).
 *    - If, after this is complete, this file is empty, delete it.
 *    - If, after this is complete, this file is NOT empty, then relocate it
 *      up one directory, and remove "SPLIT" from its file name
 */

%ul {
	@extend %list;
	list-style-type: disc;
	margin-bottom: $base-line-height / 2;
	padding-left: $base-line-height;
}

%ol {
	@extend %list;
	list-style-type: decimal;
	margin-bottom: $base-line-height / 2;
	padding-left: $base-line-height;
}

%dl {
  margin-bottom: $base-line-height / 2;

  dt {
    font-weight: bold;
    margin-top: $base-line-height / 2;
  }

  dd {
    margin: 0;
  }
}
