/* @todo make these variables */
$flexnav_color_nav_text: #222;
$flexnav_color_top_level: #a6a6a2;
$flexnav_color_second_level: #b2b2af;
$flexnav_color_third_level: #bfbfbc;
$flexnav_color_fourth_level: #cbcbc9;