// Colors
$color-blue: #477DCA;
$color-gray-dark: #333;
$color-gray-medium: #999;
$color-gray-light: #DDD;
$color-gray-light-extra: #f9f9f9;
$color-red-light: #FBE3E4;
$color-yellow-light: #FFF6BF;
$color-green-light: #E6EFC2;
$color-white: white;

